*{
    margin: 0;
    padding: 0;
}
body{
    gap: 40px;
    padding: 10px 10px 10px 90px;
    background: linear-gradient(gray,white,gray);
    background-repeat: no-repeat;
}
.navegação-box{
    position: fixed;
    width: 50px;
    padding: 10px;
    inset: 10px 10px 10px 10px;
    border-radius: 1em;
    box-shadow: 0 0 10px;
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.800);
    transition: .6s;
    z-index: 3;
}
.aberto{
    width: 180px;
}
.navegação{
    display: flex;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    overflow: hidden;
    cursor: pointer;
    font-size: 1.4em;
    align-items: center;
}
.clicado{
    background-color: black;
    box-shadow: 0 0 10px white;
    transition: 1s;
}
.navegação a{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    text-decoration: none;
}
.icone{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 51px;
    color: white;
}
.nome{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}
#Btn1{
    font-size: 2em;
    font-family: fantasy;
    background: none;
    box-shadow: none;
    margin-bottom: 40px
}
#Btn2{
    background-color: white;
    box-shadow: none;
    margin-bottom: 60px
}
#Btn2 .icone{
    color: black;
}
#Btn2 input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    margin: 0;
}
#Btn4{
    display: block;
    box-shadow: none;
}
::-webkit-scrollbar {
    display: none;
}
.Carousel-Conteúdo-Caixa{
    display: block;
    background-color: rgba(0, 0, 0, 0.800);
    padding: 10px 10px 5px 10px;
    margin: 0;
    border-radius: 1em;
}
.Conteúdo-Caixa{
    display: flex;
    gap: 20px;
    margin-bottom: 5px;
    border-radius: 10px;
    overflow-x: scroll;
}
.Conteúdo{
    display: flex;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 1em;
}
.Slide-Caixa{
    display: flex;
    height: 15px;
    gap: 10px;
    justify-content: center;
}
.Slide{
    width: 15px;
    height: 15px;
    cursor:pointer
}
.Seleção-Produto-Caixa,.Seletor-Caixa,.Produto-Caixa{
    margin-bottom: 40px;
}
.Seleção-Produto-Caixa{
    display: block;
}
.Título-Caixa{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Seletor-Caixa{
    display: flex;
}
.Seletor{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 50px;
}
.Seletor button{
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    border-bottom: 2px solid;
}
.Produto-Caixa{
    display: flex;
    overflow-x: scroll;
    gap: 10px;
    padding: 30px;
    margin: 0;
}
.Produto{
    display: grid;
    grid-template-columns: auto;
    box-shadow: 0 0 10px;
    backdrop-filter: blur(10px);
    border-radius: 1em;
    padding: 10px;
}
.Produto:hover{
    transform: scale(115%);
    transition: 0.8s;
    z-index: 1;
}
.Cadastro{
    position: relative;
    height: 500px auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.43);
    align-items: center;
    align-content: center;
}
form{
    margin: 20px;
}
input{
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
}
footer{
    display: flex;
    height: 200px;
    width: 100%;
    background-color: rgba(52, 52, 52, 0.627);
    bottom: 0;
}
.sexo{
    display: flex;
    gap: 10px;
    text-align: center;
}
.input-padrao1{
    display: flex;
    height: 100%;
    align-content: center;
}
@media screen and (max-width: 480px){
    body{
        margin: 0;
        padding: 10px;
    }
    .navegação-box{
        display: flex;
        position: fixed;
        width: auto;
        height: 50px;
        top: auto;
        bottom: 0;
        justify-content: space-between;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        flex-direction: row-reverse;

    }
    .navegação{
        display: grid;
        width: 50px;
        margin: 0;
    }
    #Btn1{
        display: none;
    }
    #Btn2{
        display: flex;
        justify-content: end;
    } 
    .produtos-container {
        display: inline-flex;
        align-items: center;
        height: 200px;
        width: 100%;
        overflow-x: scroll;
        margin-bottom: 40px;
        padding-top: 20px;
    }
    .produtos {
        display: flex;
        position: relative;
        white-space: nowrap;
        height: 180px;
    }
    .avisos {
        display: block;
        margin-right: 15px;
        box-shadow: 0 0 7px;
        border-radius: 1em;
        cursor: pointer;
        overflow: hidden;
        min-width: 136px;
        height: 150px;
        padding: 10px 8px;
        box-sizing: border-box;
        justify-content: space-between;
        backdrop-filter: blur(10px);
    
      }
      .avisos:hover{
        transform: scale(1.2);
        transition: 0.7s;
        z-index: 1;
      }
    }      